nav {
    width: 100%;
    height: 60px;
}
.home-icon {
    width: 50px; 
    height: 50px; 
    margin-left:25px; 
    margin-right: 25px;
}
.search-bar {
    padding-left: 20px;
    width: 100%;
    min-width: 300px;
    height: 40px;
    border: 1px solid lightgray;
    border-radius: 20px;
    position: relative;
}
.search-btn {
    width: 50px;
    height: 40px;
    box-sizing: border-box;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid lightgray;
    position: absolute;
    right: 0px;
}
.clear-btn {
    background-color: rgb(255,255,255,0);
    border-radius: 20px;
    width: 40px;
    height: 40px;
    border: 0px;
    position: absolute;
    right: 50px;
}
button:hover {
    background-color: rgb(0,0,0,0.3);
}
.container {
    margin: 0px;
    max-width: 100%;
}
.side-bar-home {
    position: fixed;
    left: 0px;
    width: 120px;
    height: 100%;
    padding-top: 60px;
    box-sizing: border-box;
}
.side-bar-vid {
    margin: 0px;
    width: 500px;
    height: 100%;
    padding-top: 60px;
    box-sizing: border-box;
}
.side-menu {
    font-weight: bold;
    color: black;
    text-decoration: none;
    margin: 15px 5px 5px 5px;
}
.content {
    margin-top: 60px;
    margin-left: 120px;
}
.card {
    margin: 5px;
    padding: 5px;
    width: 32%;
    min-width: 300px;
    border: 0px;
    transition: 0.3s;
}
.card:hover {
    background-color: lightgray;
}
.vid-time {
    position: absolute;
    right: 8px;
    height: 20px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgb(0,0,0,0.5);
    border-radius: 5px;
    color: white;
    font-size: 14px;
    font-weight: bold;
}
.ch-profile {
    width: 40px;
    height: 40px;
    margin: 10px 5px 5px 5px;
    border-radius: 25px;
}
.vid-info {
    margin: 3px;
    color: black;
}
.vid-cont {
    margin-top: 60px;
    padding: 20px;
}
.video {
    width: 100%;
    height: 600px;
    min-width: 500px;
}
.like-btn {
    background-color: lightgray;
    padding: 0px;
    width: 100px;
    height: 40px;
    position: absolute;
    bottom: 120px;
    right: 80px;
    border: 0px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    transition: 0.3s;
}
.dislike-btn {
    background-color: lightgray;
    position: relative;
    right: 5px;
    padding: 0px;
    width: 60px;
    height: 40px;
    position: absolute;
    bottom: 120px;
    right: 20px;
    border: 0px;
    border-left: 1px solid gray;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
#likeIcon, #dislikeIcon {
    fill: none;
}
.about-vid-cont {
    background-color: lightgray;
    border-radius: 10px;
    width: 100%;
    height: 100px;
    margin-left: 12px;
    margin-top: 5px;
    padding-top: 8px;
}